#gameBoard
{
	min-height: 600px;
	min-width: 800px;
	position: relative;
	border: 1px double black;
	overflow: hidden;
}

.apple
{
	position: absolute;
	background-color: red;
	min-height: 16;
    min-width: 16;
    display: inline-block;

    border-radius:10px;
	
}
.player
{
	position: absolute;;
}

.player-part
{
    
    min-height: 16;
    min-width: 16;
    display: inline-block;
    margin: -2px;
    border: 1px solid;
    border: 1px dotted black;
}

.direction-right.player-part:first-child
{
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;	
}

.direction-left.player-part:first-child
{
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;	
}

.direction-down.player-part:first-child
{
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px;	
}
.direction-up.player-part:first-child
{
	border-top-right-radius:2px;
	border-top-left-radius:2px;	
}

.direction-left.player-part:last-child
{
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;	
}

.direction-right.player-part:last-child
{
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;	
}

.direction-up.player-part:last-child
{
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;	
}

.direction-down.player-part:last-child
{
	border-top-right-radius:10px;
	border-top-left-radius:10px;	
}

.player-eyes
{
	position: relative;
}

.player-eye
{
    min-height: 4;
    min-width: 4;
    display: inline-block;
    position: absolute;
    border-radius: 5px;
    background-color: black;
}

.direction-down .player-eye-left
{
	top: 10px;
	left: 2px;
}

.direction-down .player-eye-right
{
	top: 10px;
	left: 10px;
}


.direction-up .player-eye-left
{
	top:  2px;
	left: 2px;
}

.direction-up .player-eye-right
{
	top: 2px;
	left: 10px;
}

.direction-left .player-eye-left
{
	top:  2px;
	left: 2px;
}

.direction-left .player-eye-right
{
	top: 10px;
	left: 2px;
}

.direction-right .player-eye-left
{
	top:  2px;
	left: 10px;
}

.direction-right .player-eye-right
{
	top: 10px;
	left: 10px;
}